/* Global Color Variables */
:root {
  --slate-color: #334155; /* Slate */
  --blue-color: #1e40af; /* Blue */
  --white-color: #f8fafc; /* White */
  --black-color: #0f172a; /* Black */
  --red-color: #ef4444; /* Red */
  --border-radius: 8px;
  --transition-duration: 0.3s;
  --font-family: 'Arial', sans-serif;
}

/* General Styles */
body {
  font-family: var(--font-family);
  color: var(--black-color);
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding-bottom: 0.5rem;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  color: var(--black-color);
}

h2 {
  font-size: 2rem;
  color: var(--slate-color);
}

h3 {
  font-size: 1.5rem;
  color: var(--slate-color);
}

.heading-messages {
  color: var(--red-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

nav {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}


.title, .heading-messages {
  margin-top: 3rem;
}

/* Links */
a {
  text-decoration: none;
  color: var(--slate-color);
  background-color: var(--white-color);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  display: inline-block;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

a:hover {
  background-color: var(--slate-color);
  color: var(--white-color);
}

a:active {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* Input Fields */
input {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border: 1px solid var(--slate-color);
  border-radius: var(--border-radius);
  transition: border-color var(--transition-duration), box-shadow var(--transition-duration);
}

input:focus {
  outline: var(--blue-color) auto 1px;
  border-color: var(--blue-color);
}

/* Buttons */
button {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 0.75rem 1.5rem;
  margin: 1rem;
  border: 1px solid var(--slate-color);
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

button:hover {
  background-color: var(--slate-color);
  color: var(--white-color);
}

button:disabled {
  background-color: var(--white-color);
  color: #aaa;
  cursor: not-allowed;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 600px;
}

li {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Spread items horizontally */
  margin: 0.5rem 0;
  padding: 0.5rem;
  /* border: 1px solid var(--slate-color); */
  /* border-radius: var(--border-radius); */
  /* transition: background-color var(--transition-duration), color var(--transition-duration); */
}

li a {
  flex-grow: 1;
  text-align: left;
  padding-right: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

li a:hover {
  color: var(--white-color);
}

/* Badges */
.badge {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  display: inline-block;
  margin-right: 0.5rem;
  height: 100%;
}

/* Clear Button */
.clear {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 0.75rem;
  margin-bottom: 12px;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.clear:hover {
  background-color: var(--red-color);
  color: var(--white-color);
}

.heroes-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.heroes-menu a {
  width: 15em;
  padding: 1rem;
  background-color: var(--white-color);
  border: 1px solid var(--slate-color);
}

.heroes-menu a:hover {
  background-color: var(--slate-color);
  color: var(--white-color);
}

/* Heroes and Delete Button Layout */
.heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.heroes a {
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--white-color);
  border: 1px solid var(--slate-color);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.heroes a:hover {
  background-color: var(--slate-color);
  color: var(--white-color);
}

/* Delete Button */
button.delete {
  border: 1px solid var(--slate-color);
  border-left: 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  margin: 0;
  height: 100%;
  cursor: pointer;
}

button.delete:hover {
  background-color: var(--red-color);
  color: var(--white-color);
}

.hero-input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.hero-input-container label {
  flex: 0 0 auto;
  font-weight: bold;
}

.hero-input-container input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--slate-color);
  border-radius: var(--border-radius);
}

.hero-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.hero-search-container label {
  flex: 0 0 auto;
  font-weight: bold;
}